* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    padding: revert;
    list-style: none;
}

body {
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    flex: 1;
}

@media (max-width: 1000px) {
    .container {
        padding-inline: .75rem;
    }
}